{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
{% endblock %}


{% block title %}Liste des Marque-Pages{% endblock %}

{% block body %}
<h1>Liste complète des marque-pages</h1>

<table class="table-custom">
    <thead>
        <tr>
            <th>ID</th>
            <th>URL</th>
            <th>Commentaire</th>
            <th>Date de création</th>
        </tr>
    </thead>
    <tbody>
    {% for marquePage in marquePages %}
        <tr>
            <td>{{ marquePage.id }}</td>
            <td>{{ marquePage.url }}</td>
            <td>{{ marquePage.commentaire }}</td>
            <td>{{ marquePage.dateCreation ? marquePage.dateCreation|date('Y-m-d') : '' }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4">Aucun marque-page trouvé.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
