{% extends 'base.html.twig' %}

{% block header %}
<h2>Liste des Livres</h2>
<ul>
    {% for livre in livres %}
    <li>
        <a href="{{ path('livre_detail', {'id': livre.id}) }}">{{ livre.titre }}</a>
        - {% if livre.auteur %}
            {{ livre.auteur.nom }} {{ livre.auteur.prenom }}
          {% else %}
            Auteur Inconnu
          {% endif %}
    </li>
    {% endfor %}
</ul>
<button><a href="{{ path('marquepage_index') }}">Retour à la liste des marques pages</a></button>
<button><a href="{{ path('livre_ajout') }}">Ajouter un livre</a></button>
{% endblock %}