{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/tableau.css') }}">
{% endblock %}

{% block title %}Marque pages{% endblock %}

{% block header %}
    <div class="container mt-5">
        <h1>Liste des Avengers</h1>

        {% if marque_pages is not empty %}
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover shadow table-custom">
                    <thead class="thead-dark">
                    <tr>
                        <th>Url</th>
                        <th>Commentaire</th>
                        <th>Mots-clés</th> <!-- Nouvelle colonne pour les mots-clés -->
                    </tr>
                    </thead>
                    <tbody>
                    {% for mpr in marque_pages %}
                        <tr>
                            <td><a href="{{ path('marquepage_details', {'id': mpr.id}) }}">{{ mpr.url }}</a></td>
                            <td>{{ mpr.commentaire }}</td>
                            <td>
                                {% for motCle in mpr.motsCles %} <!-- Boucle sur les mots-clés du marque-page -->
                                    <span class="badge bg-secondary">{{ motCle.motCle }}</span> <!-- Affiche chaque mot-clé -->
                                {% else %}
                                    Aucun mot-clé
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="alert alert-info alert-custom" role="alert">
                Aucun Avenger trouvé.
            </div>
        {% endif %}
    </div>
    <button><a href="{{ path('marque_page_ajout') }}">Ajouter un marque_page</a></button>
{% endblock %}