{% extends 'base.html.twig' %}

{% block header %}
<h2>Auteurs avec plus de {{ nombreMin }} livres</h2>
<ul>
    {% for auteur in auteurs %}
    <li>
        {{ auteur.nom }} {{ auteur.prenom }} - Nombre de livres: {{ auteur.livres|length }}
    </li>
    {% endfor %}
</ul>
<button><a href="{{ path('auteur_ajout') }}">Ajouter un auteur</a></button>
<button><a href="{{ path('marquepage_index') }}">Retour à la liste des marques page</a></button>
{% endblock %}
