<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Symfony dans tous ses états !{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/base.css') }}">
    {% endblock %}
    
    {% block javascripts %}
    {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>
{% block body %}
    <header class="header-container">
        <h1>Symfony dans tous ses états !</h1>
        <img class="logo" src="{{ asset('assets/images/logo.png') }}" alt="Logo">
        <nav>
            <ul>
                <li><a href="{{ path('marquepage_index') }}">Marque-pages</a></li>
                <li><a href="{{ path('liste_livre') }}">Livres</a></li>
                <li>
                    <span>Le Cailloux</span>
                    <ul>
                        <li><a href="{{ path('cailloux_faune') }}">Faune</a></li>
                        <li><a href="{{ path('cailloux_flore') }}">Flore</a></li>
                    </ul>
                </li>
                <li><a href="{{ path('employe_index') }}">Employés</a></li>
                <li>
            </ul>
        </nav>
    </header>
{% endblock %}

{% block header %}
{% endblock %}

{% block footer %}
    <footer class="footer-container">
        <p>Créé par Cyril &copy; {{ "now"|date('Y') }}</p>
    </footer>
{% endblock %}  
</body>
</html>
