{% extends 'base.html.twig' %}

{% block title %}Flore{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/cailloux.css') }}">
{% endblock %}

{% block header %}
    <div class="container mt-5">
        <h1>Flore</h1>
        <div class="cailloux-container">
            {% for flore in flores %}
                <div class="cailloux-card">
                    <h2>{{ flore.nom }}</h2>
                    <img src="{{ asset(flore.image) }}" alt="Image de {{ flore.nom }}">
                    <p>{{ flore.description }}</p>
                </div>
            {% endfor %}
        </div>
         <button><a href="{{ path('liste_livre') }}">Retour à la liste des livres</a></button>
    </div>
{% endblock %}
