{% extends 'base.html.twig' %}

{% block title %}Flore{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/cailloux.css') }}">
 {% endblock %}

{% block header %}
    <h1>Flore</h1>
    <ul>
        {% for flore in flores %}
            <li>
                {{ flore.nom }} - {{ flore.description }}
                <img src="{{ asset(flore.image) }}" alt="Image de fleur">
            </li>
        {% endfor %}
    </ul>
    <a href="{{ path('marquepage_index') }}">Retour à la liste</a>
{% endblock %}
