{% extends 'base.html.twig' %}

{% block title %}Faune{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/cailloux.css') }}">
{% endblock %}

{% block header %}
    <div class="container mt-5">
        <h1>Faune</h1>
        <div class="cailloux-container">
            {% for faune in faunes %}
                <div class="cailloux-card">
                    <h2>{{ faune.nom }}</h2>
                    <img src="{{ asset(faune.image) }}" alt="Image de {{ faune.nom }}">
                    <p>{{ faune.description }}</p>
                </div>
            {% endfor %}
        </div>
        <button><a href="{{ path('liste_livre') }}">Retour à la liste des livres</a></button>
    </div>
{% endblock %}
