{% extends 'base.html.twig' %}

{% block title %}Faune{% endblock %}
 {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/cailloux.css') }}">
 {% endblock %}

{% block header %}
    <h1>Faune</h1>
    <ul>
        {% for faune in faunes %}
            <li>
                Nom : {{ faune.nom }} - Description :  {{ faune.description }}
                <img src="{{ asset(faune.image) }}" alt="Image de faune">
            </li>
        {% endfor %}
    </ul>
    <button><a href="{{ path('liste_livre') }}">Retour à la liste des livres</a></button>
{% endblock %}
